<section id="list-a-fishery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Add a water to <%= @fishery.name %></h2>
                <% if flash[:notice] %>
                    <div class="alert alert-success"><%= notice %></div>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
               <%= render "water_form" %>
            </div>
        </div>
    </div>
</section>
