<section>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-heading">Destinations</h3>
                <h3 class="section-subheading text-muted">Popular fly fishing destinations</h3>
            </div>
        </div>
        <div class="row">
            <div class="photo-with-text-overlay col-md-6 col-sm-12">
                <a href="/search?location=Isle+of+Jura">
                    <div class="title-header-outer">
                        <div class="title-header">
                            <h2>Isle of Jura</h2>
                        </div>
                    </div>
                    <img src="http://dur8xuaowfaya.cloudfront.net/images/images/000/000/072/medium/Jura_17.jpg?1476433566" class="img-responsive img-centered" >
                </a>
            </div>
            <div class="photo-with-text-overlay col-md-6 col-sm-12">
                <a href="/search?location=Galloway+Forest+Park+Scotland" class="result-link" itemprop="url">
                    <div class="title-header-outer">
                        <div class="title-header">
                            <h2>Galloway Forest Park</h2>
                        </div>
                    </div>
                    <img src="http://dur8xuaowfaya.cloudfront.net/images/images/000/000/077/medium/neldricken.jpg?1476951599" class="img-responsive img-centered" >
                </a>
            </div>
                <div class="photo-with-text-overlay col-md-6 col-sm-12">
                <a href="/search?location=Snowdonia+National+Park" class="result-link" itemprop="url">
                    <div class="title-header-outer">
                        <div class="title-header">
                            <h2>Snowdonia National Park</h2>
                        </div>
                    </div>
                    <img src="http://dur8xuaowfaya.cloudfront.net/images/images/000/000/077/medium/neldricken.jpg?1476951599" class="img-responsive img-centered" >
                </a>
            </div>
        </div>
        <a href="/destinations/all" class="btn btn-default btn-lg m-top30">View all destinations</a>
    </div>
</section>
