<section id="explore" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Explore</h2>
                    <h3 class="section-subheading text-muted">See where others have been fishing, explore, get inspiration &amp; go fishing!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 explore-item">
                    <a href="/waters/107" class="explore-link" >
                        <img src="http://gone-fishing.s3.amazonaws.com/images/images/000/000/028/medium/upper-roddlesworth.jpg?1452947237" class="img-responsive" alt="">
                    </a>
                    <div class="explore-caption">
                        <h4>Upper Roddlesworth Reservoir</h4>
                        <p class="text-muted">Darwen, Lancashire</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 explore-item">
                    <a href="/waters/97" class="explore-link">
                        <img src="http://gone-fishing.s3.amazonaws.com/images/images/000/000/023/medium/malham-tarn.jpg?1452844765" class="img-responsive" alt="">
                    </a>
                    <div class="explore-caption">
                        <h4>Malham Tarn</h4>
                        <p class="text-muted">Settle, North Yorkshire</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 explore-item">
                    <a href="/waters/98" class="explore-link">
                        <img src="http://gone-fishing.s3.amazonaws.com/images/images/000/000/024/medium/cow-green.jpg?1452846121" class="img-responsive" alt="">
                    </a>
                    <div class="explore-caption">
                        <h4>Cow Green Reservoir</h4>
                        <p class="text-muted">Barnard Castle, County Durham</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
