<header>
    <%= responsive_image source: 'jura_pwomnh/jura_pwomnh_c_scale,w_1330.jpg',
        srcset: {
            'jura_pwomnh/jura_pwomnh_c_scale,w_300.jpg' => '300w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_525.jpg' => '525w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_694.jpg' => '694w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_838.jpg' => '838w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_960.jpg' => '960w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_1071.jpg' => '1071w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_1174.jpg' => '1174w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_1268.jpg' => '1268w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_1312.jpg' => '1312w',
            'jura_pwomnh/jura_pwomnh_c_scale,w_1330.jpg' => '1330w'
        },
        options: {
            sizes: '(max-width: 1330px) 100vw, 1330px',
            class: 'img-responsive img-centered',
            alt: 'Looking at a map of Jura'
        }
    %>
    <div class="image-trans">
    
        <div class="container col-md-offset-2 col-md-8">
            <div class="intro-text">
                <div class="intro-lead-in">Discover places to go fly fishing</div>
                <div id="suggested-search"></div>
            </div>
        </div>
    </div>
</header>