<section id="add-a-water">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Add a Water</h2>
                <div class="alert alert-warning">Is this water part of a fishery? If so, do you know the name of the fishery?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
               <%= render "fishery_form" %>
            </div>
        </div>
    </div>
</section>
