<section id="locations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Locations</h2>
                    <h3 class="section-subheading text-muted">Find fly fishing destinations by location</h3>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 result-item">
                            <a href="/search?location=Lancashire" class="result-link" itemprop="url">
                                <div class="title-header-outer">
                                    <div class="title-header">
                                        <h2 class="area">Lancashire</h2>
                                    </div>
                                </div>
                                <div class="image-background">
                                    <img src="http://lets-fish.s3.amazonaws.com/images/images/000/000/028/medium/geograph-3675417-by-Peter-McDermott.jpg?1456992798" class="img-responsive img-centered" >
                                </div>
                            </a>
                    </div>
                    <div class="col-md-6 col-sm-12 result-item">
                            <a href="/search?location=Elan+Valley" class="result-link" itemprop="url">
                                <div class="title-header-outer">
                                    <div class="title-header">
                                        <h2 class="area">Elan Valley</h2>
                                    </div>
                                </div>
                                <div class="image-background">
                                    <img src="http://lets-fish.s3.amazonaws.com/images/images/000/000/033/medium/geograph-2526885-by-Andrew-Hill.jpg?1456992260" class="img-responsive img-centered" >
                                </div>
                            </a>
                    </div>
                    <div class="col-md-6 col-sm-12 result-item">
                            <a href="/search?location=Snowdonia+National+Park" class="result-link" itemprop="url">
                                <div class="title-header-outer">
                                    <div class="title-header">
                                        <h2 class="area">Snowdonia National Park</h2>
                                    </div>
                                </div>
                                <div class="image-background">
                                    <img src="http://lets-fish.s3.amazonaws.com/images/images/000/000/063/medium/geograph-1942933-by-Chris-Andrews.jpg?1457382874" class="img-responsive img-centered" >
                                </div>
                            </a>
                    </div>
                    <div class="col-md-6 col-sm-12 result-item">
                            <a href="/search?location=Forest+in+Teesdale" class="result-link" itemprop="url">
                                <div class="title-header-outer">
                                    <div class="title-header">
                                        <h2 class="area">Forest in Teesdale</h2>
                                    </div>
                                </div>
                                <div class="image-background">
                                    <img src="http://lets-fish.s3.amazonaws.com/images/images/000/000/057/medium/geograph-4094791-by-Pauline-E.jpg?1457269754" class="img-responsive img-centered" >
                                </div>
                            </a>
                    </div>
                </div>
        </div>
    </section>
