<%= render "navigation" %>
<header>
    <div class="image-trans">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Where would you like to go fly fishing?</div>
                <div class="intro-heading">Let's go fishing!</div>
            </div>
        </div>
        <div class="row search">
            <form accept-charset="UTF-8" class="form-inline" role="form" method="get" action="search">
                <div class="form-group">
                    <input type="text" class="form-control" id="location" name="location" placeholder="Pick a location">
                </div>
                <button type="submit" class="btn btn-info">Search</button>
            </form>
        </div>
    </div>
</header>
<!-- render @form_partial -->
<%= render "how_it_works" %>
