<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript">
  var map;
  var url;
  function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: new google.maps.LatLng(54.43869834845736, -2.2472353515624945),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
  }

  function addMarkers(results) {
   for (var i = 0; i < results.length; i++) {
      url = results[i].url; 
      var latLng = new google.maps.LatLng(results[i].lat,results[i].lng);
      
      var marker = new google.maps.Marker({
        position: latLng,
        map: map, 
        title: "Fishery name",
        html: " "
      });
      
      google.maps.event.addListener(marker, 'click', function() {
        
        var infowindow = new google.maps.InfoWindow({
          content: "loading details"
        });

        $.ajax({
          url: url
        }).done(function( data ) {
            console.log(data.name);
            this.html = data.name
            infowindow.setContent(this.html);
        }); 
        
        infowindow.open(map,this);
      });

    };
  }

  $.ajax({
    url: '/homepage/index.json'
  }).done(function(data){ 
    addMarkers(data);
  });

  // Onload handler to fire off the app.
  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div id="map" style='width: 100%; height: 600px;'></div>
