.list-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > div {
    padding: 10px;
}

.content {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    z-index: 10;
    width: 350px;
    background-color: #fff;
    padding-bottom: 20px;
}


@media (min-width: 600px) {
    .content {
        width: 500px;
    }
}

@media (min-width: 645px) {
    .content {
        width: 645px;
    }
}


.date-time {
    display: block;
    white-space: nowrap;
    font-size: 14px;
    // padding: 15px 5px;
}

.main {
    padding: 20px 15px 10px 15px;
    margin-bottom: 35px;
    line-height: 1.7;
    font-weight: normal;

}

.post {
    margin-bottom: 500px;
}


