<div class="list-container">
    <div class="post">
        <div class="content">
            <app-image [imageSrc]="start.media.imageSrc"></app-image>
            <div class="header">
                <div>
                    <h3>{{start.title}}</h3>
                </div>
                <div>
                    <span class="date-time">{{  start.timeStamp | date: 'mediumDate' }}</span>
                </div>
            </div>
            <div class="main" [innerHTML]="start.content">
            </div>
        </div>
    </div>
    <div class="post" *ngFor="let post of posts">
        <div class="content">
            <app-image
            (inView)="postService.setCurrentPost($event, post)"
            [imageSrc]="post.media.imageSrc"
            ></app-image>
            <div class="header">
                <div class="number-circle">{{post.position}}</div>
                <span class="date-time">{{ post.timeStamp | date: 'medium' }}</span>
            </div>
            <div class="main" [innerHTML]="post.content">
            </div>
        </div>
    </div>
</div>


