<div class="list-container">
    <div class="post" *ngFor="let post of posts">
        <app-live-photo
            (inView)="postService.setCurrentPost($event, post)"
            [media]=post.media
        ></app-live-photo>
        <div class="content">
            <div class="header">
                <div>
                    <span class="badge">{{post.position}}</span>
                </div>
                <div>
                    <span class="date-time">{{ post.timeStamp | date: 'shortTime' }}</span>
                </div>
            </div>
            <div class="main" [innerHTML]="post.content">
            </div>
        </div>
    </div>
</div>


