<%= render 'shared/navigation' %>
    <section id="become-a-contributor" class="bg-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x m-bottom24">
                        <img src="/images/<%= ['pic-nic','location','water', 'fish'].sample %>.png">
                    </span>
                    <p>
                        Below are a selection of trips to waters that are well known and the information about fishing
                        them is common knowledge and readily available.<br />
                        General consensus dictates that having detailed information about “wild waters” open to the
                        general public is not a good idea. <br />
                        Therefore the trips that centre around these ecological precious waters are not public and are
                        only accessible to contributors.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="waters" class="bg-light-gray">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-heading">Trips</h3>
                    <h3 class="section-subheading text-muted">A journal of our fishing trips for you to explore</h3>
                </div>
            </div>
            <div class="row">
                <%= render 'shared/trips' %>
            </div>
        </div>
    </section>
    <%= render 'shared/mailer_sign_up' , locals: { background_color: false }%>
