<%= render 'navigation' %>
<div class="map-container">
    <div id="map" data-lat="53.004138" data-lng="-3.9881797"></div>
</div>
<div class="sidebar">
<header style="background-image: url(http://lets-fish.s3.amazonaws.com/images/images/000/000/063/large/geograph-1942933-by-Chris-Andrews.jpg?1457382874)" class="img-responsive img-centered" alt="Llyn Conglog">
    <div class="image-trans">
        <div class="container-fluid">
            <div class="intro-text">
                <div class="intro-lead-in">April in Snowdonia's National Park</div>
                <div class="intro-lead-in">Early season Welsh hill lake fishing</div>
            </div>
        </div>
            <div class="attribution">
               Image &copy; Copyright
                <a href="http://www.geograph.org.uk/profile/16152">Chris Andrews</a>
                and licensed for reuse under this
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Licence</a>.
                <a href="http://www.geograph.org.uk/photo/1942933">More information about this image at Geograph</a>.
            </div>
    </div>
</header>
    <ul class="timeline p-top70">
    </ul>
</div>
<script id="event-temp" type="text/template">
    <div class="timeline-image event">
        <img class="img-circle img-responsive" src="/images/start.png" alt="">
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="date-time">{{dateTime}}</h4>
            <h4 class="subheading">{{subheading}}</h4>
        </div>
        <div class="timeline-body text-muted">
            <p class="description text-muted">{{description}}</p>
        </div>
    </div>
</script>
