<%= render 'shared/navigation' %>
<section id="contributors" style="padding-bottom: 200px">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12 text-center m-bottom34">
              <h3 class="section-heading">Donate towards the running costs of this website 🤎 🙌 </h3>
              <br />
            <p>Let's fish doesn't make any money and the running costs are covered personally.</p>
            <p> All donation are greatly recieved and 100% of the money will go towards hosting this website.</p>

            

        <br /> 

        <h3>Donate using the button below 👇</h3>
<br /> 
<form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="business" value="WWNEWPVG3C7BJ" />
<input type="hidden" name="item_name" value="Donate towards the running costs of Let's Fish" />
<input type="hidden" name="currency_code" value="GBP" />
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
</form>

            </div>
        </div>
    </div>
</section>

<%= render 'shared/contributor', locals: { background_color: true } %>


