<%= render 'navigation' %>
<section class="container top17">
	<div class="container">
	 	<div class="row">
	    <div class="col-lg-8">	
		    <h3 class="bottom44">New Fishery</h3>
		    	<%= render 'form' %>
		    </div>
	</div>
</section>
