<h1><%= @fishery.name %></h1>
<div class="panel panel-default">
  <div class="panel-heading">Location</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
    <dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Contact Details</div>
  <div class="panel-body">
     <dl class="dl-horizontal">
    </dl>
  </div>
</div>