<nav class="navbar navbar-default navbar-shrink">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Gone fishing!</a>
        </div>
    </div>
</nav>
