<% if !@results.nil? %>
<%
    count = 0
    @results.each_slice(2).with_index do | results | %>
        <div class="row">
            <% results.each do | result |
                count +=1
            %>
            <%= render 'water', locals: { water: result, count: count } if result.class.name === "Water" %>
            <%= render 'place', locals: { place: result, count: count} if result.class.name === "Place" %>
            <% end %>
        </div>
    <% end %>
<% end %>
