<%= render 'navigation' %>
<!-- <input id="map-search-box" class="controls collapse" type="text" placeholder="Where would you like to go?"> -->
<div class="map-container">
    <div id="map" data-zoom='9'></div>
</div>
<div class="sidebar">
    <div id="results-container">
    </div>
</div>
