<div class="sidebar"></div>
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript">
  var map;
  // List with all marker to check if exist
  var markerList = {}
  // variable for marker info window
  var infowindow;
  // set error handler for jQuery AJAX requests
  $.ajaxSetup({"error":function(XMLHttpRequest,textStatus, errorThrown) {
      console.log(textStatus + ' / ' + errorThrown + ' / ' + XMLHttpRequest.responseText);
  }});

  function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: new google.maps.LatLng(54.43869834845736, -2.2472353515624945),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    // create new info window for marker detail pop-up
    infowindow = new google.maps.InfoWindow();
    loadMarkers();
  }

  function loadMarkers() {
      // load marker jSon data
      $.getJSON('/admin/fisheries.json', function(data) {
          // loop all the markers
          $.each(data, function(i,item){
              // add marker to map
              loadMarker(item);
          });
      });
  }

  function loadMarker(markerData){

      var url = markerData.url;
      var id  = markerData.id;
      var name = markerData.name;
      var latLng = new google.maps.LatLng(markerData.lat,markerData.lng);

      var marker = new google.maps.Marker({
        id: id,
        url: url,
        position: latLng,
        map: map,
        title: name
      });
      // add marker to list used later to get content and additional marker information
      markerList[marker.id] = marker;
       // add event listener when marker is clicked
      // currently the marker data contain a dataurl field this can of course be done different
      google.maps.event.addListener(marker, 'click', function() {
          // show marker when clicked
          showMarker(marker.id,url);
      });
  }

  function showMarker(markerId){
    // get marker information from marker list
    var marker = markerList[markerId];
    if( marker ){
        // get marker detail information from server
        $.get( marker.url, function(data) {
            // // show marker window
            infowindow.setContent(data.name);
            infowindow.open(map,marker);
        });
    }else{
       console.log('Error marker not found: ' + markerId);
    }
  }

  // Onload handler to fire off the app.
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
