<%= render 'navigation' %>
<!-- <input id="map-search-box" class="controls collapse" type="text" placeholder="Where would you like to go?"> -->
<div class="map-container">
    <div id="map" data-zoom='8'></div>
</div>
<div class="sidebar">
<section class="local-stuff">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h5>Local services:</h5>
      </div>
      <div class="col-md-10">
        <div class="btn-group" role="group">
            <button id="campsites" type="button" class="btn btn-default">
              <img src="/icons/campsite_.svg" > Campsites
            </button>
            <button id="food" type="button" class="btn btn-default">
               <img src="/icons/food_.svg"> Food 
            </button>
            <button id="drink" type="button" class="btn btn-default">
              <img src="/icons/drink_.svg" > Drink 
            </button>
            <button id="campsites" type="button" class="btn btn-default">
             Accommodation
            </button>
        </div>
      </div>
    </div>
  </div>
</section> 
    <div id="results-container">
    </div>
</div>


