<%= render 'navigation' %>
<!-- <input id="map-search-box" class="controls collapse" type="text" placeholder="Where would you like to go?"> -->
<div class="map-container">
    <div id="map" data-zoom='8'></div>
</div>
<div class="sidebar">
    <section class="local-amenities">
        <div class="row">
          <div class="col-lg-12">
              <h5 class="text-muted">Local amenities</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group" role="group">
                <button id="accommodation" type="button" class="btn btn-default">
                 <img src="/icons/accommodation_.svg"> Accommodation
                </button>
                <button id="campsites" type="button" class="btn btn-default">
                  <img src="/icons/campsite_.svg"> Campsites
                </button>
                <button id="food" type="button" class="btn btn-default">
                   <img src="/icons/food_.svg"> Food
                </button>
                <button id="drink" type="button" class="btn btn-default">
                  <img src="/icons/drink_.svg"> Drink
                </button>
            </div>
          </div>
        </div>
    </section>
    <div id="results-container">
    </div>
</div>


