<%= render "navigation" %>
<section id="locations" class="bg-light-gray">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-heading">Destinations</h3>
                    <h3 class="section-subheading text-muted">Popular fly fishing destinations</h3>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 result-item">
                            <a href="/search?location=Isle+of+Jura" class="result-link" itemprop="url">
                                <div class="title-header-outer">
                                    <div class="title-header">
                                        <h2 class="area">Isle of Jura</h2>
                                    </div>
                                </div>
                                <div class="image-background">
                                    <img src="http://lets-fish.s3.amazonaws.com/images/images/000/000/072/medium/Jura_17.jpg?1476433566" class="img-responsive img-centered" >
                                </div>
                            </a>
                    </div>
                    <div class="col-md-6 col-sm-12 result-item">
                            <a href="/search?location=Galloway+Forest+Park+Scotland" class="result-link" itemprop="url">
                                <div class="title-header-outer">
                                    <div class="title-header">
                                        <h2 class="area">Galloway Forest Park</h2>
                                    </div>
                                </div>
                                <div class="image-background">
                                    <img src="http://lets-fish.s3.amazonaws.com/images/images/000/000/077/medium/neldricken.jpg?1476951599" class="img-responsive img-centered" >
                                </div>
                            </a>
                    </div>
       <!--              <div class="col-md-6 col-sm-12 result-item">
                            <a href="/search?location=Elan+Valley" class="result-link" itemprop="url">
                                <div class="title-header-outer">
                                    <div class="title-header">
                                        <h2 class="area">Elan Valley</h2>
                                    </div>
                                </div>
                                <div class="image-background">
                                    <img src="http://lets-fish.s3.amazonaws.com/images/images/000/000/033/medium/geograph-2526885-by-Andrew-Hill.jpg?1456992260" class="img-responsive img-centered" >
                                </div>
                            </a>
                    </div> -->
                    <div class="col-md-6 col-sm-12 result-item">
                            <a href="/search?location=Snowdonia+National+Park" class="result-link" itemprop="url">
                                <div class="title-header-outer">
                                    <div class="title-header">
                                        <h2 class="area">Snowdonia</h2>
                                    </div>
                                </div>
                                <div class="image-background">
                                    <img src="http://lets-fish.s3.amazonaws.com/images/images/000/000/063/medium/geograph-1942933-by-Chris-Andrews.jpg?1457382874" class="img-responsive img-centered" >
                                </div>
                            </a>
                    </div>
                </div>
        </div>
    </section>
    <%= render 'homepage/how_it_works' %>
