<%= render 'shared/navigation' %>
<section id="waters" class="bg-light-gray m-top70">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-heading">Waters</h3>
                <h3 class="section-subheading text-muted">Discover new waters</h3>
            </div>
        </div>
        <div class="row">
            <%= render 'shared/waters' %>
        </div>
    </div>
</section>
<%= render 'homepage/how_it_works' %>