<nav id="secondary-nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll" href="#about-this-water">About this water</a>
            </li>
            <li>
                <a class="page-scroll" href="#location">Water map</a>
            </li>
            <% unless @water.images_without_hero.empty? %>
                <li>
                    <a class="page-scroll" href="#photos">Photos</a>
                </li>
            <% end %>
            <% if @water.negotiated_permission_tickets.present? %>
                <li>
                    <a class="page-scroll" href="#permission">Permission &amp; Tickets</a>
                </li>
            <% end %>
        </ul>
    </div>
</nav>
