<h1>Listing Waters</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Longitude,Latitude</th>
    </tr>
  </thead>
  
  <tbody>
    <% @waters.each do |water| %>
      <tr>
        <td><%= water.id %></td>
        <td><%= water.name %></td>
        <td><%= water.lng.to_s + "," + water.lat.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>