<h1>Listing waters</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @waters.each do |water| %>
      <tr>
        <td><%= link_to 'Show', water %></td>
        <td><%= link_to 'Edit', edit_water_path(water) %></td>
        <td><%= link_to 'Destroy', water, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Water', new_water_path %>
