<section id="become-a-contributor" class="<%= (locals[:background_color])? 'bg-light-gray' : '' %>">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Become a contributor</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12 text-center">
                <span class="fa-stack fa-4x m-bottom24">
                  <img src="/images/<%= ['pic-nic','location','water', 'fish'].sample %>.png">
                </span>
                <p>Have you been to a wild water and want to share the knowledge? We'd be more than happy to recieve information from anyone who wants to write up a water guide.</p>
                <p>Or if you just fancy coming out on our next trip, you are more than welcome.</p>
                <p><a class="block-color" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#115;&#116;&#101;&#118;&#101;&#110;&#106;&#097;&#109;&#101;&#115;&#099;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?&#083;&#117;&#098;&#106;&#101;&#099;&#116;=&#073;&#032;&#119;&#097;&#110;&#116;&#032;&#116;&#111;&#032;&#098;&#101;&#032;&#097;&#032;&#099;&#111;&#110;&#116;&#114;&#105;&#098;&#117;&#116;&#111;&#114;">Drop us an email and say HI!</a></p>
            </div>
        </div>
    </div>
</section>
