 <div id="map-list-toggle-bar" class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-default map" autofocus="true">
        MAP <i class="fa fa-map-o p-left5" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default list">
        LIST <i class="fa fa-list-ol p-left5" aria-hidden="true"></i>
    </button>
</div>