<nav id="secondary-nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll" href="#about-this-fishery">About this fishery </a>
            </li>
            <li>
                <a class="page-scroll" href="#waters">Waters</a>
            </li>
            <% if !@photos.empty? %>
                <li>
                    <a class="page-scroll" href="#photos">Photos</a>
                </li>
            <% end %>
            <li>
                <a class="page-scroll" href="#contact">Contact Details</a>
            </li>
        </ul>
    </div>
</nav>

