div {
    width: 350px;
    height: 263px;
    background-color: #fff;
    z-index: 1
}

@media (min-width: 600px) {
    div {
        width: 500px;
        height: 375px;
    }
}

@media (min-width: 645px) {
    div {
        width: 645px;
        height: 484px;
    }
}
