<nav class="navbar navbar-default navbar-shrink">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">Let's fish</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/destinations/all">Destinations</a>
                </li>
                <li class="active">
                    <a href="/fisheries/all">Fisheries</a>
                </li>
                <li>
                    <a href="/waters/all">Waters</a>
                </li>
                <li>
                    <a class="page-scroll" href="#how-it-works">How it works</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
