// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#map{ 
  position: fixed;
  top: 47px;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 600px;
}

.sidebar{
  position: fixed;
  top: 47px;
  right: 0;
  bottom: 0;
  width: 60%;
  overflow-y: scroll;
  background: #f7f7f7;
}